body {
	margin: 0;
	padding: 0;
	text-align: center;
	display: flex;
	justify-content: center;
}
model-viewer {
	margin: auto;
	width: 100%;
	height: 100%;
	position: absolute;
}

.MuiButton-root {
}

.MuiCard-root {
}

.MuiBox-root {
}
